  .Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  .App-header {
    background-color: #1b4e85;
    color: whitesmoke;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0.3rem;
  }
  
  .Messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  .Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
  }
  
  .Message-content {
    display: inline-block;
  }
  
  .currentMember > .Message-content {
    align-items: flex-end;
  }
  
  .Messages-message > .avatar {
    height: 35px;
    width: 35px;
    border-radius: 0.3rem;
    display: inline-block;
    margin: 0 10px -10px;
  }
  
  .Message-content > .username {
    display: block;
    color: #1b4e85;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 4px;
  }
  
  .Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 0,3rem;
    background-color: #1b4e85;
    color: white;
    display: inline-block;
  }
  
/* ovo je za polje u kojem se nalazi text poruke */ 
  .currentMember > .Message-content .text {
    background-color: white;
    border: 2px solid #0492C2;
    font-size: 16px;
    color: #1b4e85;
  }
  
  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-radius: 0,3rem;
    border: 7px solid #1b4e85;
    flex-grow: 1;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color:white;
    color: #1b4e85;
    border: none;
    border-radius: 0,3rem;
    border: 2px solid #0492C2;
  }

  button:hover {
    background: #1b4e85;
    color: white;
    border-color: transparent;
    border: 2px solid #0492C2;
  }

  .btn-send {
    margin-left: 10px;
    border-radius: 0,3rem;
    border: 2px solid #0492C2;
  }

  .btn-send:hover {
    background: orange;
    color: white;
    border-color: transparent;
    border: 2px solid #0492C2;
  }